@model int[,]


<div class="othello-form othello-board-card fra-border" id="othelloGameBoardContainer" >
	@await Html.PartialAsync(partialViewName: "OthelloGameBoard", Model)
</div>

@section Scripts{
	<script src="~/js/othelloGameBoard.js"></script>
}
